/*<---General--->*/

:root {
--black: #000;
--bg-maroon: #4A0D0D;
--orange: #D53F22;
--cream: #F2DDCA;
}

@font-face {
  font-family: "Ortica";
  src: url("../Ortica-Bold.woff.woff2") format("woff2"),
       url("../Ortica-Bold.woff") format("woff");
}

@font-face {
  font-family: "Ortica Light";
  src: url("../Ortica-Light.woff.woff2") format("woff2"),
       url("../Ortica-Light.woff") format("woff");
}


@font-face {
  font-family: "Attila Sans";
  font-weight: bold;
  src: url("../AttilaSansClassicTrial-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Attila Sans";
  src: url("../AttilaSansClassicTrial-Medium.otf") format("opentype");
}


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.page {
    font-family: "Ortica", serif;
    font-weight: bold;
    font-size: 22px;
    color: var(--orange);
    background-color: var(--cream);
    scroll-behavior: smooth;
  }


section{
    height: 100vh;
    width: 100%;
  }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  section {
    height: auto;
}

.voucher{
  height: auto;
}

#home{
padding-bottom: 5%;
}
#menu{
padding-top: 10%;
padding-bottom: 10%;
}

#book{
  padding-top: 10%;
  padding-bottom: 10%;
}

#voucher{
  padding-top: 10%;
  padding-bottom: 10%;
}

}
.cream-bg{
    background-color: var(--cream);
  }

.maroon-bg{
    background-color: var(--bg-maroon);
  }

/*<--- header ---->*/

#title{
  overflow: hidden;
    width: 1px;
    height: 1px;
}

#header{
  background-color: var(--cream);
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}


#header .logo,#nav-menu,.nav-list,.nav-link{
  display:inline;
}

.logo{
  padding-bottom:10px;
}

#header #nav-menu{
  font-size: 17px;
  padding-bottom: 0;
}


#header .nav-link{
  text-transform: uppercase;
  padding-bottom:0;
  margin-right:0;
  margin-left: 22px;
  font-family: "Ortica", serif;
}

#header .nav-link a{
  text-decoration: none;
  color: var(--bg-maroon);
}

#header .nav-link a:hover{
  text-decoration: none;
  color: var(--bg-maroon);
}

.invisible-div{
  display:none;
}

/* <--- Mobile Nav --->*/

.dropdown-content {
    position: absolute;
    right:0;
    top:60px;
    background-color: var(--cream);
    width:100%;
    height: 92vh;
    display: none;

}

.dropdown-content a {
  font-size: 1.75rem;
  padding: 5px 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--bg-maroon);
}

.dropdown-content a:hover {
  color: var(--bg-maroon);
}

.show {
  display: none;
}


/* <--- Hamburger Animation ---> */

#nav-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #4A0D0D;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media only screen and (max-width: 768px) {
  #header{
    width: 95%;
    padding-top:20px;
  }
  #nav-menu{
    display: none;
    text-align: center;
  }
  #nav-icon1 {
    display: flex;
 }
  #header #nav-menu{
    font-size: 0.8rem;
    padding-top:10px;
  }

  .nav-link{
    margin-left: 0px;
  }

  .show {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mobile-links{
    display:flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;
    align-items: center;
  }

  .invisible-div{
    display: flex;
    width:30px;
  }

  }

/* <--- Hero ---> */

#home{
  background-color: var(--cream);
  width: 100%;
  height: 92vh;
}
#home .main-image,.info{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

#main-image{
  height:100%;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
 }

.info{
  text-transform: uppercase;
  padding-top: 15px;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2.5%;
  }

  .opening-hours{
    margin-right: auto;
  }



  @media only screen and (max-width: 568px) {
    .info{
      font-size: 0.9rem;
      flex-wrap: wrap;
      align-content: flex-end;
      padding-bottom: 40px;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      }

      .opening-days{
        text-align: center;
        width: 100%;
      }

      .opening-hours{
        text-align: center;
        width: 100%;
        margin-right: none;
      }

      .address{
        text-align: center;
        width: 100%;
        padding-top: 20px;
      }
    }

@media only screen and (max-width: 768px) {
  .info{
    font-size: 0.9rem;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-bottom: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    }

    .opening-days{
      text-align: center;
      width: 100%;
    }

    .opening-hours{
      text-align: center;
      width: 100%;
      margin-right: none;
    }

    .address{
      text-align: center;
      width: 100%;
      padding-top: 20px;
    }

    #main-image{
      background-position: 65% 0;
     }


  }

  @media only screen
    and (min-width: 768px)
    and (max-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

      .info{
        justify-content: space-between;
        }
      }


/* <---- Booking ----> */

#book{
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.booking-text{
  display:flex;
  margin-top: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}
@media only screen and (max-width: 768px) {
  .booking-text{
    font-size: 0.9rem;
  }
  }

  @media only screen and (max-width: 568px) {

  .booking-text{
    display: none;
  }

    }


/*<---- Secondary Images ----> */

.sec-images-container{
  display: flex;
}
.sec-image{
  width:50%;
  height:100vh;
  display: flex;
  object-fit: cover;
 }

 @media only screen and (max-width: 768px) {
   .sec-images-container{
     display: block;
   }
   .sec-image{
     width:100%;
     height: 50vh;
     object-fit: cover;
    }
   }

/* <---- Menu ----> */

#menu{
  text-align: center;
  color: var(--bg-maroon);
  font-size: 1.25rem;
  font-family: "Attila Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  height: auto !important;

}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul,li{
  display: block;
  text-decoration: none;
  line-height: 33px;
  font-family: "Attila Sans";
  font-weight: normal;
}

.dessert{
  padding-top: 50px;
  line-height: 33px;
}

.menu .heading{
  font-size: 1.25rem;
  line-height: 33px;
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #menu {
      font-size: 1.25rem;
    }

    .menu .heading{
      font-size: 1.5rem;
    }
    .menu ul,li{
      line-height: 30px;
    }

    .voucher{
        font-size: 1.25rem;
        width:80%;
        height:80%;
      }
}


@media only screen and (max-width: 768px) {
  .menu{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu .heading{
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .menu ul,li{
    line-height: 1.5rem;
  }
}



/*<---- Voucher----> */

#voucher{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.voucher{
      display:flex;
      width: 30%;
      height:60%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      background-color:#F2DDCA;
}


@media only screen and (max-width: 768px) {
.voucher{
    font-size: 0.8rem;
    width:80%;
    height:80%;
  }
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .voucher{
        font-size: 1.25rem;
        width:60%;
        height:60%;
      }
    }

/*<---- Footer ----> */

footer{
  background-color: var(--cream);
  min-height: 160px;
}

footer .footer-wrapper{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7.5%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

footer .logo,#contact,.footer-list,.footer-link{
    display:inline-flex;
  }


footer #contact{
    display: flex;
  }

footer #contact .footer-link{
  font-family: "Ortica Light", serif;
  font-size: 18px;
  color: var(--bg-maroon);
  margin-left: 50px;
  padding:0;
}

footer #contact .footer-link a{
  color: var(--bg-maroon);
  text-decoration:none;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {

  .footer-wrapper{
    display:flex;
    font-size: 0.8rem;
    justify-content: center;
    flex-wrap: wrap;

  }
  footer .logo{
    width: 100%;
    display:inline-block;
    justify-content: center;
    text-align: center;
  }
  #contact{
    display:flex;
    justify-content: center;
    width: 100%
  }

  footer #contact .footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer #contact .footer-link{
    font-size: 0.8rem;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .footer-wrapper{
      display:flex;
      font-size: 0.8rem;
      justify-content: center;
      flex-wrap: wrap;

    }
    footer .logo{
      width: 100%;
      display:inline-block;
      justify-content: center;
      text-align: center;
    }
    #contact{
      display:flex;
      justify-content: center;
      width: 100%;
    }

    footer #contact .footer-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

    footer #contact .footer-link{
      font-size: 0.9rem;
      margin-left: 0px;
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      justify-content: space-between;
    }

    footer #contact .right{
      justify-content: flex-end;
    }

    }
